#top {
  background-color: black;
  overflow-x: hidden;
  position: relative;
}
#particles-2-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
#top .container-fluid {
  padding: 1% 3%;
}

.nav-heading {
  margin: 0 10px;
}

.brand-heading i {
  font-size: 2rem;
}
/* .navbar-icon {
    margin-right: 20px;
  } */

.navbar-brand {
  font-family: "Press Start 2P", cursive;
  margin-right: -30px;
}

.header-list {
  margin: 0 auto;
  font-family: "Press Start 2P", cursive;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-join-btn {
  font-family: "Press Start 2P", cursive;
}

/* Blog Container */

.blog-container {
    width: 50%;
    margin: 0 auto;
    color: white;
}

.title {
    /* font-family: 'Merriweather', serif; */
    font-family: 'Burbank Small';
    font-weight: 900;
    font-size: 3.5rem;
}

.title, .blog-p h2 {
  text-align: justify;
}

figure {
    text-align: center;
}
.blog-title-img {
    width: 400px;
    height: 400px;
    /* width: -webkit-fill-available; */
    margin: 0 auto;
}

.blog-p p {
  /* font-family: 'Tajawal', sans-serif; */
    font-family: 'Burbank Small';
    /* font-weight: 500; */
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.blog-p h2 {
  /* font-family: 'Tajawal', sans-serif; */
  font-family: 'Burbank Small';
  font-weight: 700;
  font-size: 3rem;
}

blockquote {
  margin: 0;
}

.quote {
  text-align: left;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  color: black;
  text-align: left;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}



/* Footer Section */
#footer .container-fluid {
    text-align: center;
    margin: 50px 0 30px;
  }
  
  .footer-icons-div {
    padding: 0 5%;
    margin: 0 auto;
  }
  
  .f-icons {
    padding: 0 1%;
  }
  
  .footer-p-div {
    margin-top: 10px;
  }
  .footer-p-div p {
    font-family: "VT323", monospace;
    font-size: 1.3rem;
  }
  
  .twitter-icon {
    color: #1da1f2;
  }
  
  .instagram-icon {
    color: #8a3ab9;
  }
  
  .youtube-icon {
    color: #ff0000;
  }
  
  .spotify-icon {
    color: #1db954;
  }
  

/* Media Queries */

@media (max-width: 992px) {
  .blog-container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .blog-title-img {
    width: 300px;
    height: 300px;
  }
}