@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/BurbankSmall-Light.woff2') format('woff2'),
        url('../fonts/BurbankSmall-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Burbank Big Cd Bd';
    src: url('../fonts/BurbankBigCondensed-Bold.woff2') format('woff2'),
        url('../fonts/BurbankBigCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/BurbankSmall-Medium.woff2') format('woff2'),
        url('../fonts/BurbankSmall-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Burbank Small';
    src: url('../fonts/BurbankSmall-Bold.woff2') format('woff2'),
        url('../fonts/BurbankSmall-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

